<header class="auth-header u-margin-bottom-small u-margin-top-small">
  <img src="/svg/Logo.svg" alt="A logo of a brain" class="auth-header__logo">
  <h1 class="heading-primary auth-header__header">Test AI</h1>
</header>