<section class="auth-options auth-options--sign u-margin-top-small u-margin-bottom-small">
  <!-- <a href="#" class="btn btn--apple btn--large">
    <img src="/img/apple-light.svg" alt="The logo of apple in white" class="btn__icon">
    <p class="paragraph btn__text">Sign up with apple account</p>
  </a> -->
  <a href="#" class="btn btn--large btn--facebook">
    <svg class="btn__icon" width="30" height="22" viewBox="0 0 54 53" xmlns="http://www.w3.org/2000/svg"><path class="btn__icon--facebook" d="M53.04 26.52C53.04 11.8698 41.1702 0 26.52 0C11.8698 0 0 11.8698 0 26.52C0 39.7565 9.69798 50.7281 22.3763 52.7192V34.1862H15.6393V26.52H22.3763V20.677C22.3763 14.031 26.3329 10.3599 32.3929 10.3599C35.2951 10.3599 38.33 10.8775 38.33 10.8775V17.4005H34.985C31.6914 17.4005 30.6638 19.4451 30.6638 21.5422V26.52H38.0188L36.8425 34.1862H30.6638V52.7192C43.342 50.7281 53.04 39.7565 53.04 26.52Z"/></svg>
    <p class="paragraph btn__text"><%= facebookText %></p>
  </a>
  <a href="#" class="btn btn--large btn--google">
    <img src="/svg/google.svg" alt="Google logo" class="btn__icon">
    <p class="paragraph btn__text"><%= googleText %></p>
  </a>
</section>