@keyframes pop-up {
  0% {
    opacity: 0;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}