@font-face {
  font-family: "Inter";
  src: url("/public/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

// COLORS
$color-black: #1E1E1E;
$color-white: #FFFFFF;
$color-facebook: #1A77F2;
$color-primary: #4477CE;

$hr-color: rgba(#1E1E1E, 50%);


// FONTS 
$heading-primary: 4rem;
$heading-secondary: 3rem;
$heading-tertiary: 2rem;
$font-size: 1.5rem;
$small-paragraph: 1.2rem;

// BTNS
$border-radius: 10rem;
$btn-large-size: 46.5rem;
